/* line 17, ../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 14, ../sass/screen.scss */
address, article, aside, blockquote, center, dir, div, dd, details, dl, dt, fieldset, figcaption, figure, form, footer, frameset, h1, h2, h3, h4, h5, h6, hr, header, hgroup, isindex, menu, nav, noframes, noscript, ol, p, pre, section, summary, ula, abbr, acronym, audio, b, basefont, bdo, big, br, canvas, cite, code, command, datalist, dfn, em, embed, font, i, img, input, keygen, kbd, label, mark, meter, output, progress, q, rp, rt, ruby, s, samp, select, small, span, strike, strong, sub, sup, textarea, time, tt, u, var, video, wbrimgtablelitbodytheadtfoottrth, td {
  color: #505050;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

/* line 20, ../sass/screen.scss */
a {
  color: #1d1d1d;
  text-decoration: none;
}
/* line 24, ../sass/screen.scss */
a:hover {
  color: #838383;
}

/* line 29, ../sass/screen.scss */
header, #main, footer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  padding: 0 0 0 6px;
}

/* line 41, ../sass/screen.scss */
.image {
  overflow: hidden;
  width: 100%;
}

/* line 46, ../sass/screen.scss */
.image img {
  display: block;
  max-width: 100%;
}

/* line 55, ../sass/screen.scss */
.is-root {
  width: 100%;
}

/* line 62, ../sass/screen.scss */
.row, .column {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  min-width: 30px;
}

/* line 68, ../sass/screen.scss */
.row[class*="count-"] {
  font-size: 0;
  white-space: nowrap;
}

/* line 73, ../sass/screen.scss */
.row {
  width: 100%;
}

/* line 77, ../sass/screen.scss */
.row.is-root {
  height: auto;
}

/* line 81, ../sass/screen.scss */
.empty {
  height: 100%;
  padding: 0 6px 6px 0;
}
/* line 84, ../sass/screen.scss */
.empty div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #cccccc;
  height: 100%;
}

/* line 91, ../sass/screen.scss */
.column {
  display: inline-block;
  font-size: 15px;
  height: 100%;
  vertical-align: top;
}

/* line 99, ../sass/screen.scss */
.row.count-1 > .column {
  width: 100%;
}

/* line 102, ../sass/screen.scss */
.column.count-1 > .row {
  height: 100%;
}

/* line 99, ../sass/screen.scss */
.row.count-2 > .column {
  width: 50%;
}

/* line 102, ../sass/screen.scss */
.column.count-2 > .row {
  height: 50%;
}

/* line 99, ../sass/screen.scss */
.row.count-3 > .column {
  width: 33.33333%;
}

/* line 102, ../sass/screen.scss */
.column.count-3 > .row {
  height: 33.33333%;
}

/* line 99, ../sass/screen.scss */
.row.count-4 > .column {
  width: 25%;
}

/* line 102, ../sass/screen.scss */
.column.count-4 > .row {
  height: 25%;
}

/* line 99, ../sass/screen.scss */
.row.count-5 > .column {
  width: 20%;
}

/* line 102, ../sass/screen.scss */
.column.count-5 > .row {
  height: 20%;
}

/* line 99, ../sass/screen.scss */
.row.count-6 > .column {
  width: 16.66667%;
}

/* line 102, ../sass/screen.scss */
.column.count-6 > .row {
  height: 16.66667%;
}

/* line 99, ../sass/screen.scss */
.row.count-7 > .column {
  width: 14.28571%;
}

/* line 102, ../sass/screen.scss */
.column.count-7 > .row {
  height: 14.28571%;
}

/* line 99, ../sass/screen.scss */
.row.count-8 > .column {
  width: 12.5%;
}

/* line 102, ../sass/screen.scss */
.column.count-8 > .row {
  height: 12.5%;
}

/* line 99, ../sass/screen.scss */
.row.count-9 > .column {
  width: 11.11111%;
}

/* line 102, ../sass/screen.scss */
.column.count-9 > .row {
  height: 11.11111%;
}

/* line 99, ../sass/screen.scss */
.row.count-10 > .column {
  width: 10%;
}

/* line 102, ../sass/screen.scss */
.column.count-10 > .row {
  height: 10%;
}

/* line 99, ../sass/screen.scss */
.row.count-11 > .column {
  width: 9.09091%;
}

/* line 102, ../sass/screen.scss */
.column.count-11 > .row {
  height: 9.09091%;
}

/* line 99, ../sass/screen.scss */
.row.count-12 > .column {
  width: 8.33333%;
}

/* line 102, ../sass/screen.scss */
.column.count-12 > .row {
  height: 8.33333%;
}

/* line 99, ../sass/screen.scss */
.row.count-13 > .column {
  width: 7.69231%;
}

/* line 102, ../sass/screen.scss */
.column.count-13 > .row {
  height: 7.69231%;
}

/* line 99, ../sass/screen.scss */
.row.count-14 > .column {
  width: 7.14286%;
}

/* line 102, ../sass/screen.scss */
.column.count-14 > .row {
  height: 7.14286%;
}

/* line 99, ../sass/screen.scss */
.row.count-15 > .column {
  width: 6.66667%;
}

/* line 102, ../sass/screen.scss */
.column.count-15 > .row {
  height: 6.66667%;
}

/* line 99, ../sass/screen.scss */
.row.count-16 > .column {
  width: 6.25%;
}

/* line 102, ../sass/screen.scss */
.column.count-16 > .row {
  height: 6.25%;
}

/* line 99, ../sass/screen.scss */
.row.count-17 > .column {
  width: 5.88235%;
}

/* line 102, ../sass/screen.scss */
.column.count-17 > .row {
  height: 5.88235%;
}

/* line 99, ../sass/screen.scss */
.row.count-18 > .column {
  width: 5.55556%;
}

/* line 102, ../sass/screen.scss */
.column.count-18 > .row {
  height: 5.55556%;
}

/* line 99, ../sass/screen.scss */
.row.count-19 > .column {
  width: 5.26316%;
}

/* line 102, ../sass/screen.scss */
.column.count-19 > .row {
  height: 5.26316%;
}

/* line 99, ../sass/screen.scss */
.row.count-20 > .column {
  width: 5%;
}

/* line 102, ../sass/screen.scss */
.column.count-20 > .row {
  height: 5%;
}

/* line 99, ../sass/screen.scss */
.row.count-21 > .column {
  width: 4.7619%;
}

/* line 102, ../sass/screen.scss */
.column.count-21 > .row {
  height: 4.7619%;
}

/* line 99, ../sass/screen.scss */
.row.count-22 > .column {
  width: 4.54545%;
}

/* line 102, ../sass/screen.scss */
.column.count-22 > .row {
  height: 4.54545%;
}

/* line 99, ../sass/screen.scss */
.row.count-23 > .column {
  width: 4.34783%;
}

/* line 102, ../sass/screen.scss */
.column.count-23 > .row {
  height: 4.34783%;
}

/* line 99, ../sass/screen.scss */
.row.count-24 > .column {
  width: 4.16667%;
}

/* line 102, ../sass/screen.scss */
.column.count-24 > .row {
  height: 4.16667%;
}

/* line 99, ../sass/screen.scss */
.row.count-25 > .column {
  width: 4%;
}

/* line 102, ../sass/screen.scss */
.column.count-25 > .row {
  height: 4%;
}

/* line 99, ../sass/screen.scss */
.row.count-26 > .column {
  width: 3.84615%;
}

/* line 102, ../sass/screen.scss */
.column.count-26 > .row {
  height: 3.84615%;
}

/* line 99, ../sass/screen.scss */
.row.count-27 > .column {
  width: 3.7037%;
}

/* line 102, ../sass/screen.scss */
.column.count-27 > .row {
  height: 3.7037%;
}

/* line 99, ../sass/screen.scss */
.row.count-28 > .column {
  width: 3.57143%;
}

/* line 102, ../sass/screen.scss */
.column.count-28 > .row {
  height: 3.57143%;
}

/* line 99, ../sass/screen.scss */
.row.count-29 > .column {
  width: 3.44828%;
}

/* line 102, ../sass/screen.scss */
.column.count-29 > .row {
  height: 3.44828%;
}

/* line 99, ../sass/screen.scss */
.row.count-30 > .column {
  width: 3.33333%;
}

/* line 102, ../sass/screen.scss */
.column.count-30 > .row {
  height: 3.33333%;
}

/* line 99, ../sass/screen.scss */
.row.count-31 > .column {
  width: 3.22581%;
}

/* line 102, ../sass/screen.scss */
.column.count-31 > .row {
  height: 3.22581%;
}

/* line 99, ../sass/screen.scss */
.row.count-32 > .column {
  width: 3.125%;
}

/* line 102, ../sass/screen.scss */
.column.count-32 > .row {
  height: 3.125%;
}

/* line 99, ../sass/screen.scss */
.row.count-33 > .column {
  width: 3.0303%;
}

/* line 102, ../sass/screen.scss */
.column.count-33 > .row {
  height: 3.0303%;
}

/* line 99, ../sass/screen.scss */
.row.count-34 > .column {
  width: 2.94118%;
}

/* line 102, ../sass/screen.scss */
.column.count-34 > .row {
  height: 2.94118%;
}

/* line 99, ../sass/screen.scss */
.row.count-35 > .column {
  width: 2.85714%;
}

/* line 102, ../sass/screen.scss */
.column.count-35 > .row {
  height: 2.85714%;
}

/* line 99, ../sass/screen.scss */
.row.count-36 > .column {
  width: 2.77778%;
}

/* line 102, ../sass/screen.scss */
.column.count-36 > .row {
  height: 2.77778%;
}

/* line 99, ../sass/screen.scss */
.row.count-37 > .column {
  width: 2.7027%;
}

/* line 102, ../sass/screen.scss */
.column.count-37 > .row {
  height: 2.7027%;
}

/* line 99, ../sass/screen.scss */
.row.count-38 > .column {
  width: 2.63158%;
}

/* line 102, ../sass/screen.scss */
.column.count-38 > .row {
  height: 2.63158%;
}

/* line 99, ../sass/screen.scss */
.row.count-39 > .column {
  width: 2.5641%;
}

/* line 102, ../sass/screen.scss */
.column.count-39 > .row {
  height: 2.5641%;
}

/* line 99, ../sass/screen.scss */
.row.count-40 > .column {
  width: 2.5%;
}

/* line 102, ../sass/screen.scss */
.column.count-40 > .row {
  height: 2.5%;
}

/* line 99, ../sass/screen.scss */
.row.count-41 > .column {
  width: 2.43902%;
}

/* line 102, ../sass/screen.scss */
.column.count-41 > .row {
  height: 2.43902%;
}

/* line 99, ../sass/screen.scss */
.row.count-42 > .column {
  width: 2.38095%;
}

/* line 102, ../sass/screen.scss */
.column.count-42 > .row {
  height: 2.38095%;
}

/* line 99, ../sass/screen.scss */
.row.count-43 > .column {
  width: 2.32558%;
}

/* line 102, ../sass/screen.scss */
.column.count-43 > .row {
  height: 2.32558%;
}

/* line 99, ../sass/screen.scss */
.row.count-44 > .column {
  width: 2.27273%;
}

/* line 102, ../sass/screen.scss */
.column.count-44 > .row {
  height: 2.27273%;
}

/* line 99, ../sass/screen.scss */
.row.count-45 > .column {
  width: 2.22222%;
}

/* line 102, ../sass/screen.scss */
.column.count-45 > .row {
  height: 2.22222%;
}

/* line 99, ../sass/screen.scss */
.row.count-46 > .column {
  width: 2.17391%;
}

/* line 102, ../sass/screen.scss */
.column.count-46 > .row {
  height: 2.17391%;
}

/* line 99, ../sass/screen.scss */
.row.count-47 > .column {
  width: 2.12766%;
}

/* line 102, ../sass/screen.scss */
.column.count-47 > .row {
  height: 2.12766%;
}

/* line 99, ../sass/screen.scss */
.row.count-48 > .column {
  width: 2.08333%;
}

/* line 102, ../sass/screen.scss */
.column.count-48 > .row {
  height: 2.08333%;
}

/* line 99, ../sass/screen.scss */
.row.count-49 > .column {
  width: 2.04082%;
}

/* line 102, ../sass/screen.scss */
.column.count-49 > .row {
  height: 2.04082%;
}
