//==============
// Box Triangle
//==============

@mixin triangle-overlay($color) {
	position: relative;

	&:after {
		border-color: transparent transparent $color transparent;
		border-style: solid;
		border-width: 0 0 35px 35px;
		bottom: 0;
		content: "";
		float: right;
		height: 0px;
		position: absolute;
		right: 0;
		width: 0px;
	}
}

//===========
// Column
//===========

@mixin comparisonErrorTest() {
	$page-width: 967px;
	$count: 3;
	$gutter: 3px;
	$float-column-width: ( $page-width / $count - $gutter );
	$column-width: floor($float-column-width);
	$rounding-error: $float-column-width - $column-width;
	$cumulative-error: 0.00001 + $rounding-error;
	thepagewidth: $page-width;
	thecount: $count;
	thegutter: $gutter;
	thefloatcolumnwidth: $float-column-width;
	thecolumnwidth: $column-width;
	theroundingerror: $rounding-error;
	thecumulativeerror: $cumulative-error;
	thetesta: 319 < $float-column-width;
	thetestb1: $cumulative-error < 1;
	$cumulative-error: $cumulative-error + $rounding-error;
	thecumulativeerror2: $cumulative-error;
	thetestb2: $cumulative-error < 1;
	$cumulative-error: $cumulative-error + $rounding-error;
	thecumulativeerror3: $cumulative-error;
	thetestb3: $cumulative-error < 1;
}

@mixin column($selector, $container-width, $columns-count, $gutter-width) {
	#{$selector} {

		$i: 0;
		$float-column-width: $container-width / $columns-count - $gutter-width;
		$column-width: ceil( $float-column-width );
		$rounding-error: $column-width - $float-column-width;
		// To avoid rounding errors in number comparison (ex.: 0.99999 < 1 will print 1.0 < 1 but still fail)
		$cumulative-error: $rounding-error;
		// Will hold the actual width distributed. In the end it will be usefull to dump the remaining non-distributed pixels for perfect match
		$total-width: $gutter-width * ( $columns-count - 1 ) + $column-width;
		//thecumulativeerror: $cumulative-error;
		$next-selector: "+ " + $selector;

		width: $column-width;

		@while $i < ( $columns-count - 1 ) {
			#{$next-selector} {
				$cumulative-error: $cumulative-error + $rounding-error;
				//thecumulativeerror: $cumulative-error;
				@if $i == ( $columns-count - 2 ) {
					//thecontainerwidth: $container-width; 
					//thetotalwidth: $total-width;
					// Dump the remaining space for exact pixel match
					width: $container-width - $total-width;
				} @else {
					@if $cumulative-error < 1  {
						width: floor( $column-width - 1 );
						$total-width: $total-width + floor( $column-width - 1 );
					} @else {
						$cumulative-error: $cumulative-error - 1;
						width: floor( $column-width );
						$total-width: $total-width + floor( $column-width );
					}
				}
			}
			$next-selector: $next-selector + " + " + $selector;
			$i: $i + 1;
		}
		
		margin: 0 $gutter-width 0 0;
		&:last-child {
			margin-right: 0;
		}
	}
}

//=========
// Layouts
//=========

@mixin card-layout($figure-selector, $text-selector) {
	@include clearfix;
	#{$figure-selector} {
		float: left;
	}	
	#{$text-selector} {
		display: inline-block;
	}	
}

@mixin card-layout-inline($figure-selector, $text-selector, $font-size : $paragraph-font-size) {
	font-size: 0;
	#{$figure-selector},
	#{$text-selector} {
		display: inline-block;
		font-size: $font-size;
	}	
}

@mixin justified-layout($child-selector, $font-size : $paragraph-font-size) {
	text-align: justify;
	position: relative;
	font-size: 0;
	&:after {
		content: "";
		display: inline-block;
		font-size: 0;
		height: 0;
		line-height: 0;
		width: 100%;
	}
	#{$child-selector} {
		display: inline-block;
		font-size: $font-size;
	}
}
