@charset 'UTF-8';

@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/general";
@import "variables";
@import "functions";
@import "mixins";

//========
// Global
//========

#{$elements-of-all-types} {
	color: $paragraph-text-color;
	font-family: Arial, Helvetica, sans-serif;
	font-size: $paragraph-font-size;
}

a {
	color: darken($paragraph-text-color, 20%);
	text-decoration: none;

	&:hover {
		color: lighten($paragraph-text-color, 20%);
	}
}

header, #main, footer {
	@include box-sizing(border-box);

	margin: 0 auto;
	width: 100%;
	padding: 0 0 0 6px;
}

//========
// Images
//========

.image {
	overflow: hidden;
	width: 100%;
}

.image img {
	display: block;
	max-width: 100%;
}

//======
// Grid
//======

.is-root {
	width: 100%;
}

.is-root > .row {
}

.row, .column {
	@include box-sizing(border-box);
	margin: 0;
	min-width: 30px;
}

.row[class*="count-"] {
	font-size: 0;
	white-space: nowrap;
} 

.row {
	width: 100%;
}

.row.is-root {
	height: auto;
}

.empty {
	height: 100%;
	padding: 0 6px 6px 0;
	div {
		@include box-sizing(border-box);
		background: #cccccc;
		height: 100%;
	}
}

.column {
	display: inline-block;
	font-size: $paragraph-font-size;
	height: 100%;
	vertical-align: top;
}

@for $count from 1 to 50 {
	.row.count-#{$count} > .column {
		width: 100% / $count;
	}
	.column.count-#{$count} > .row {
		height: 100% / $count;
	}
}