//============
// Font Sizes
//============

$featured-title-font-size: 18px;
$footnote-font-size: 12px;
$header-font-size: 14px;
$section-header-font-size: 25px;
$section-header-small-font-size: 17px;
$paragraph-font-size: 15px;
$smallprint-font-size: 10px;
$title-font-size: 16px;

//========
// Colors
//========

$background-color: #ffffff;
$dark-gray-color: #505050;
$gray-color: #a0a0a0;
$light-gray-color: #cccccc;
$a-propos-color: #68145f;
$a-propos-light-color: #8e1b82;
$nouvelle-color: #9b1e8e;
$nouvelle-light-color: #c434b5;
$evenement-color: #947d1e;
$evenement-light-color: #b49e42;
$projet-color: #ceac0b;
$projet-light-color: #ebc40c;
$ressource-color: #969696;
$ressource-light-color: #c8c8c8;
$menu-text-color: #ffffff;
$footer-text-over-light-color: #a0a0a0;
$footer-text-over-dark-color: #ffffff;
$paragraph-text-color: #505050;
$link-text-color: #a0a0a0;
$inverted-text-color: #ffffff;

//============
// Dimensions
//============

$body-width: 987px;
$featured-height: 372px;
$footer-height: 30px;
$gutter-width: 3px;
$body-margins: 10px;

$mini-screen-width: 256px;
$small-screen-width: 424px;
$medium-screen-width: 544px;
$large-screen-width: 768px;

//==================
// Various Settings
//==================

$featured-count: 3;
$main-menu-count: 5;
$line-height: 22.5px;
$horizontal-padding: 14px;

//=================
// Display Helpers
//=================

$elements-of-all-types: elements-of-type(block) + elements-of-type(inline) + elements-of-type(inline-block) + elements-of-type(table) + elements-of-type(list-item) + elements-of-type(table-row-group) + elements-of-type(table-header-group) + elements-of-type(table-footer-group) + elements-of-type(table-row) + elements-of-type(table-cell);
$elements-of-type-header: "h1, h2, h3, h4, h5, h6";
$non-generic-text-block-elements: "h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, ol, ul, figure, audio, video";

//===============
// Media Queries
//===============

$screen: "only screen";
$mini-screen: "only screen and (max-width:" + $mini-screen-width + ")";
$small-screen: "only screen and (max-width:" + $small-screen-width + ")";
$medium-screen: "only screen and (max-width:" + $medium-screen-width + ")";
$large-screen: "only screen and (min-width:" + $large-screen-width + ")";
$landscape-screen: "only screen and (orientation: landscape)";
$portrait-screen: "only screen and (orientation: portrait)";

//========================
// Post Meta List
//========================

$post-meta-list: ((".a-propos" $a-propos-color $a-propos-light-color)  (".projet" $projet-color $projet-light-color) (".nouvelle" $nouvelle-color $nouvelle-light-color) (".evenement" $evenement-color $evenement-light-color)  (".ressource" $ressource-color $ressource-light-color));
